// common.scss

//컬러변수
$txt_color1:#ED1C24;
$txt_color2 :#fff;
$txt_color3:#333;
$txt_color4:#888;


$bg_color_1:#333;
$bg_color_2:linear-gradient(0deg,rgba(238, 49, 36, 1) 0%, rgba(51, 51, 51, 1) 40%);
$bg_color_3:linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(51, 51, 51, 1) 50%);;

$nav_color1:#1d1d1d;



$line_color_g:#D9D9D9;


// 글자 크기 제목, 본문 변수
$t_size_s:12px;
$t_size_ss:14px;
$t_size_m:16px;
$t_size_l:18px;

$t_size_t1:20px;
$t_size_t2:22px;
$t_size_t3:28px;

$ani_time:0.3s;
$box_center:0 auto;

// 기본 글꼴
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{
  font-family: "Noto Sans KR", sans-serif;
  font-size: $t_size_ss;
  color: $txt_color2;
  background-color: $bg_color_1;
  // overflow-x: hidden;
}

