// common.scss

//컬러변수
$txt_color1:#ED1C24;
$txt_color2 :#fff;
$txt_color3:#333;


$bg_color_1:#333;
$bg_color_2:linear-gradient(0deg,rgba(238, 49, 36, 1) 0%, rgba(51, 51, 51, 1) 40%);
$bg_color_3:linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(51, 51, 51, 1) 50%);;

$nav_color1:#1d1d1d;



$line_color_g:#D9D9D9;


// 글자 크기 제목, 본문 변수
$t_size_s:12px;
$t_size_ss:14px;
$t_size_m:16px;
$t_size_l:18px;

$t_size_t1:20px;
$t_size_t2:22px;
$t_size_t3:28px;

$ani_time:0.3s;
$box_center:0 auto;

// 기본 글꼴
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{
  font-family: "Noto Sans KR", sans-serif;
  font-size: $t_size_ss;
  color: $txt_color2;
  background-color: $bg_color_1;
  // overflow-x: hidden;
}

// 헤더서식
header{

  background: #1d1d1d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  nav{
    transform: translateX(-300px);
    // 상단메뉴 언더바 서식
    .under_bar{
      display: block;
      opacity: 0;
      border: 2px solid #E60012;
      top: 48px; left: 50%;
      position: absolute;
      width: 2%;
      transition: 0.4s;
    }
    ul{
      display: flex;
      justify-content: space-around;
      gap: 50px;
      li{
        >a{
          color: #fff;
          text-decoration: none;
          position: relative;
          transition: 0.4s;
        }
        >a:hover{
          color: #E60012;
          .under_bar{
            display: block;
            opacity: 100;
            border: 2px solid #E60012;
            top: 48px;
            position: absolute;
            width: 100%;
            left: -2px;
          }
        }
      }
    }
  }
  .user_info{
    ul{
      display: flex;
      gap: 10px;
      li:first-child{
        border-right: 1px solid #fff;
        padding-right: 10px;
      }
      li{
        a{
          color: #fff;
          text-decoration: none;
        }
        >a:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

// 푸터서식
footer{
  background: #1d1d1d;
  ul{
    padding-top: 30px;
    padding-left: 90px;
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    li{
      font-family: sans-serif;
      font-size: 90px;
      margin-right: 20px;
      a{
      text-transform: capitalize;
      color: #1d1d1d;
      -webkit-text-stroke: 1px #fff;
      transition: 0.3s;
      }
      a:hover{
        color: #fff;
      }
    }
  }
  .f_logo{
    img{
      margin-right: 50px;
    }
    padding: 40px 0px 40px 90px;
    display: inline-block;
    .location{
      display: inline-block;
      font-size: 32px; 
      font-weight: bold;
      transform: translateY(-10px);
      a{color: #fff;}
    }
  }
}