footer{
  background: #1d1d1d;
  ul{
    padding-top: 30px;
    padding-left: 90px;
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    li{
      font-family: sans-serif;
      font-size: 90px;
      margin-right: 20px;
      a{
      text-transform: capitalize;
      color: #1d1d1d;
      -webkit-text-stroke: 1px #fff;
      transition: 0.3s;
      }
      a:hover{
        color: #fff;
      }
    }
  }
  .f_logo{
    img{
      margin-right: 50px;
    }
    padding: 40px 0px 40px 90px;
    display: inline-block;
    .location{
      display: inline-block;
      font-size: 32px; 
      font-weight: bold;
      transform: translateY(-10px);
      a{color: #fff;}
    }
  }
}