@use 'common' as *;

// main.scss 

  
// <!-- 1 메인 슬라이드 영역  -->
// 메인 비주얼 영역
#visual_area {
  margin: 0px auto;
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: space-around;
 
  margin-bottom: 30px;
  margin-top: 30px;
  .visual_main {
    position: relative;
    width: 80%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    .visual_text {
      position: absolute;
      left: 100px;
      bottom: 40px;
      color: $txt_color2;
      text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
      h2 {
        font-size: 36px;
        margin-bottom: 10px;
      }
      
    }
  }

  // 썸네일
  .visual_thumbs {
    width: 200px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    li {
      cursor: pointer;
      width: 100%;
      height: 90px;
      opacity: 0.7;
      transition: 0.3s;
      overflow: hidden;
      border-radius: 6px;
      &.active {
        opacity: 1;
        transform: scale(1.05);
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        object-fit: cover;
      }
    }
  }
}
  
// <!-- 2 신규출시게임 영역 -->
.newgame{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  >h2{
    padding-left: 15px;
    color: $txt_color2;
    margin-bottom: 25px;
    font-size: 22px;
  }
  .newGameSwiper{
    .swiper-slide{
      width: 300px;
      position: relative;
      .game_card{
        display: block;
        padding: 15px;
        border-radius: 10px;
        color: $txt_color2;
        transition: 0.2 ease;
        &:hover{
          background-color: #3b3b3b;
          text-decoration: none;
        }
        img{
          width: 100%;
          height: 150px;
          border-radius: 10px;
    
        }
        h3{
          margin-top:12px ;
          font-size: $t_size_m;
          font-weight: 600;
        }
        p{
          font-size: $t_size_ss;
          margin: 3px 0 8px;
        }
        .icons{
          position: absolute;
          bottom: 30px;
          right: 10px;
          img{
            width: 20px;
            height: 20px;
            margin-right: 5px;
    
          }
        }
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: $txt_color1;   // 화살표 색상
    width: 35px;
    height: 35px;
    background: $nav_color1;
    border-radius: 50%;
    transition: 0.3s;
    position: absolute;
    top: 25px;
  }
  .swiper-button-prev {
    left: 1100px;   
  }
  .swiper-button-next {
    right: 20px;    
  }
  // hover 시 밝게
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background: rgba(255,255,255,0.8);
    color: #000;
  }
  // 화살표 아이콘 크기 강제 조절
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 16px;
    font-weight: bold;
  }
}

  
// <!-- 3 top3 영역 -->
.top3{
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  background: url(../images/index/3_bg.png) no-repeat center/cover; 
  >img{
    width: 100%;
  }
  h2{
    position: absolute;
    left:50%;
    top: 10%;
    transform: translate(-50%, -10%);
    font-size: $t_size_t3;
  }
  p{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
    font-size: $t_size_l;
  }
  .top3_wrapper{
    width: 1400px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    >ul{
      display: flex;
      justify-content: center;
      >li{
        img{
          height: 509px;  /* 이미지 전체 높이와 동일하게 */
          transition: transform 0.5s ease, ;
          display: block;
          }

      }
    }

  }
}
.top3_img.hover-effect {
  filter: drop-shadow(0 0 35px rgba(255,255,255,1));


}
  
// <!-- 4 전체게임 영역  -->
    
  
// <!-- 5 신규또는 월간 프로모션 영상 영역  -->
    
// <!-- 6 최신 커뮤니티 슬라이드  -->
    