@use 'common' as *;

// main.scss 


  
      // <!-- 1 메인 슬라이드 영역  -->
    
  
      // <!-- 2 신규출시게임 영역 -->
    
  
      // <!-- 3 top3 영역 -->
    
  
      // <!-- 4 전체게임 영역  -->
    
  
      // <!-- 5 신규또는 월간 프로모션 영상 영역  -->
    
  
      // <!-- 6 최신 커뮤니티 슬라이드  -->
    