@use 'common' as *;

// main.scss 
main{

}

  
      // <!-- 1 메인 슬라이드 영역  -->
// 메인 비주얼 영역
#visual_area {
  margin: 30px auto;
  width: 1200px;
  height: 500px;
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  .visual_main {
    position: relative;
    width: 80%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    .visual_text {
      position: absolute;
      left: 100px;
      bottom: 40px;
      color: #fff;
      text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
      h2 {
        font-size: 36px;
        margin-bottom: 10px;
      }
      
    }
  }

  // 썸네일
  .visual_thumbs {
    width: 150px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    li {
      cursor: pointer;
      width: 100%;
      height: 90px;
      opacity: 0.7;
      transition: 0.3s;
      overflow: hidden;
      border-radius: 6px;
      &.active {
        opacity: 1;
        transform: scale(1.05);
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        object-fit: cover;
      }
    }
  }
}
  
      // <!-- 2 신규출시게임 영역 -->
    
  
      // <!-- 3 top3 영역 -->
    
  
      // <!-- 4 전체게임 영역  -->
    
  
      // <!-- 5 신규또는 월간 프로모션 영상 영역  -->
    
  
      // <!-- 6 최신 커뮤니티 슬라이드  -->
    