//sub.scss
@use 'common' as *;

//커뮤니티
@import url(./community.css);
@import url(./community_write.css);

// 로그인 ,회원가입, 회원정보 수정
@import url(./login.css);

// mypage
@import url(./mypage.css);

//faq
@import url(./faq.css);
@import url(./faq_write.css);


